* {
    margin: 0;
}

html {
    font-family: sans-serif;
    background-color: skyblue;
    background-image: linear-gradient(to right, darkcyan , skyblue);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: indigo;
    text-align: center;
    color: white;
    font-size: 36px;
}

.bodyBox {
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.918);
}

footer {
    text-align: center;
    font-size: small;
}

.product button {
    background-color: darkcyan;
    border-radius: 15%;
    color: white;
    text-shadow: 0 0 5px black;
  }