* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: skyblue;
    background-image: linear-gradient(to right, darkturquoise , skyblue);
}

header {
    width: 100%;
    height: auto;
    background-color: darkgray;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 36px;
    padding: 10px 5%;
}

.bodyBox {
    width: 70%;
    margin: 25px auto;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 15px;
    text-align: center;
}


footer {
    text-align: center;
    font-size: small;
}

button {
    background-color: darkcyan;
    border-radius: 15px;
    color: white;
    text-shadow: 0 0 5px black;
}