#navbar {
  list-style-type: none;
  overflow: hidden;
}
#navbar li {
  float: left;
}
#navbar li a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
#navbar li a:hover {
  background-color: thistle;
  color: white;
  text-shadow: 0 0 3px black;
}

header {
width: 100%;
height: auto;
color: purple;
background-color: ghostwhite;
}

.title {
    margin: 0 5%;
    padding: 5%;
    width: 90%;
    margin: auto;
}

.bodyBox {
    margin: auto;
    width: 90%;
    border: 1px dashed purple;
}

h1 {
    color: purple;
}

footer {
    text-align: center;
    color: white;
    font-size: small;
}

@media screen and (min-width: 800px) {
    .bodyBox {
        padding: 10%;
    }
}