* {
    margin: 0;
}
#navbar {
    list-style-type: none;
    overflow: hidden;
}
#navbar li {
    float: left;
}
#navbar li a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: indigo;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid thistle;
  }
#navbar li a:hover {
    background-color: indigo;
    color: white;
    text-shadow: 0 0 3px black;
}

header {
    width: 100%;
    height: auto;
    color: indigo;
    background-color: ghostwhite;
}

.title {
    background-color: indigo;
    color: white;
    margin: 0;
    padding: 10px 5%;
    margin: 0 0 10px 0;
    width: 90%;
    font-size: 30px;
    font-family: sans-serif;
}

.bodyBox {
    margin: auto;
    padding: 20px 5%;
    width: 70%;
    border: 1px dashed indigo;
}

h1 {
    color: indigo;
}

footer {
    text-align: center;
    color: white;
    font-size: small;
}

.flexgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkBox {
    display: table;
    margin: 10px;
}
.linkBox a {
    display: table-cell;
    height: 200px;
    width: 200px;
    font-size: 30px;
    font-family: Sans-Serif;
    color: white;
    background-color: darkmagenta;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-shadow: 0 0 5px indigo;
  }
  .linkBox:hover {
    margin: 8px;
  }
  .linkBox a:hover {
    height: 204px;
    width: 204px;
    margin: 0;
    background-color: darkturquoise;
  }
  .linkBox a span {
    font-size: 24px;
  }

  .dioBox {
      display: flex;
      flex-wrap: wrap;
  }

  .medPic {
      height: 400px;
      width: auto;
      padding: 5px;
  }
  .medTextbox {
      height: 400px;
      width: auto;
      background-color: white;
  }

@media screen and (min-width: 800px) {

}